@model MenuListo.Models.IngredienteP

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Caracteristicas del Ingrediente- Podras consultarlos en los detalles de tu plato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.id)
        </dd>
        
    </dl>
</div>
<div>

    <a asp-action="Index">Indice</a>
</div>
