@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a tu aplicación de recetas </h1>
    <p>Para ponerte en contacto <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser">Haz clik aqui</a>.</p>

    <h2 style="color:#fff">MenuListo</h2>
    <img itemprop="image" data-original="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2020/11/pechugas-de-pollo-la-crema-para-navidad.jpg" alt="" src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2020/11/pechugas-de-pollo-la-crema-para-navidad.jpg" style="display: inline;" width="500" height="300">

</div>
