@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Contacta pinchando aqui <a href="https://docs.microsoft.com/aspnet/core">contacto para solicitar presupuestos</a>.</p>
    <h1 class="display-4">Bienvenido</h1>

    <img src="C:\Users\danid\source\repos\EmpresaA\EmpresaA\wwwroot\images\Photo1.jpg" alt="Sample Photo" />


</div>
