@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a.... </h1>
    <p>Contactanos,envianos tus sugerencias<a href="http://www.google.es">  pinchando aqui</a>.</p>




    <h1 style="text-align: center;">Web de recetas ricas ricas</h1>


    <img itemprop="image" class="c-calabaza-gratinada lazyloaded" alt="Calabaza gratinada" data-src="https://scm-assets.constant.co/scm/unilever/db8b0e966bd39ae48dd42e9d1e4b9aa0/d9691521-5aae-4fb8-803e-b3285fa5b02c.jpg" src="https://scm-assets.constant.co/scm/unilever/db8b0e966bd39ae48dd42e9d1e4b9aa0/d9691521-5aae-4fb8-803e-b3285fa5b02c.jpg">




</div>
