@model IEnumerable<MenuListo.Models.Plato>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Recetas Faciles & Ricas</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            
            <td>
               
                <a asp-action="Details" asp-route-id="@item.id">Accede a la receta</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
